.speech-record-button:hover{
    animation: blur 1s infinite;
}

@keyframes blur{
    from{
        opacity: 0.6;
        border: 8px solid blue;
        transform: rotate(0deg);
    }
    
    to{
        opacity: 1;
        border: 3px solid blue;
        transform: rotate(360deg);
    }
}


dialog::backdrop{
    background: rgba(0,0,0, 0.7);
}

dialog:focus{
    outline-color: #333;
}

ul li{
    padding: 10px 0;
}

ul li:hover{
    transform: scale(2);
    transition: 0.5s;
}


dialog ul li{
    border-bottom: 2px solid #333;
}


.rotating {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.width{
  width: 340px;
}